html {
  margin: 0px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: bisque;
  margin-bottom: 20vh;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body > #root {
  height: 100vh;
}

.App {
  text-align: center;
  background-color: bisque;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #4d9bb9;
  min-height: 10vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .titulo {
  margin-left: 30px;  
}

.App-header .contador {
  margin-right: 30px;
}

.App-link {
  color: #61dafb;
}

.to-left {
  text-align: left;
}

.pink-text {
   color: #a8327f;
   font-weight: 700;
}

.card-header {
  height: 5%;
}

.data-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  flex-direction: row;
}

.button-space {
  margin-top: 1.5rem;
  align-self: center;
}

.addTarea-buttons {
  display: flex;
  justify-content: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
